### Intellij ###
.idea/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

### SBT ###

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp/

### ignoring aggregate project ###

fake/

### Scala ###
*.class
*.log
.sbt

### Local ###
.env
.DS_Store
local.conf
local-dir/

### PID-like stuff
containerid*

### VS Code
.vscode/

### Metals
.bloop/
.metals/
metals.sbt